# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual env
venv/
env/
ENV/



# Django
*.secret
db.sqlite3
media/
staticfiles/
local_settings.py

# Secrets
filehub-secrets-plain.yaml
*.pem
*.key
*.crt
sealed-filehub-secrets.yaml
.env
.env.*
secretes.yaml

# Docker
*.tar
*.bak
.dockerignore
.docker/

# Kubernetes
*.sealed.yaml

# Jenkins
jenkins_home/
*.log

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.crash
terraform.tfvars
override.tf
override.tf.json
*.backup

# System
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Misc
*.bak
*.old
*.orig
